{% extends "base.html"%}
{% load pipeline %}
{% load staticfiles %}

{% block content %}
<!-- start:main -->
<div class="container" id="main" style="padding-top: 50px;">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
            <div id="sidebar">
                <div class="sosmed">
                    <div class="text-center">
                        <a href="#"><i class="fa fa-facebook fa-2x" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter fa-2x" data-toggle="tooltip" data-placement="top" title="Twitter"></i></a>
                    </div>
                </div>
                <div class="user">
                    <div class="text-center">
                        <img src="{% static "resume_img/user.jpeg" %}" class="img-circle">
                    </div>
                    <div class="user-head">
                        <h1>{{ name }}</h1>
                        <div class="hr-center"></div>
                        <h5>Web <br>Developer</h5>
                    </div>
                </div>
                <div class="link-me">
                    <div class="text-center">
                        <a href="#"><i class="fa fa-download fa-2x" data-toggle="tooltip" data-placement="top" title="Download My CV"></i></a>
                        <a href="#"><i class="fa fa-flag fa-2x" data-toggle="tooltip" data-placement="top" title="Get in Touch"></i></a>
                        <a href="#"><i class="fa fa-money fa-2x" data-toggle="tooltip" data-placement="top" title="Hire Me"></i></a>
                    </div>
                    <div class="hr-center"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div id="content">
                <!-- start:navbar -->
                <nav class="navbar navbar-default navbar-static-top" role="navigation">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="page-scroll"><a href="#id-profile">// Profile</a></li>
                            <li class="page-scroll"><a href="#id-work">// Work</a></li>
                            <li class="page-scroll"><a href="#id-resume">// Resume</a></li>
                            <li class="page-scroll"><a href="#id-blog">// Blog</a></li>
                            <li class="page-scroll"><a href="#id-contact">// Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="page-scroll"><a href="#id-work">
                                <i class="fa fa-angle-double-down"></i>
                            </a></li>
                        </ul>
                    </div>
                </nav>
                <!-- end:navbar -->

                <!-- start:main content -->
                <div class="main-content">
                    <ul class="timeline">
                        <!-- start:profile -->
                        <li id="id-profile">
                            <div class="timeline-badge default"><i class="fa fa-user"></i></div>
                            <h1 class="timeline-head">PROFILE</h1>
                        </li>
                        <li id="profile">
                            <div class="timeline-badge primary"></div>
                            <div class="timeline-panel">
                                <h1>Hello, I am <strong>{{ name }}</strong></h1>
                                <h4>Web Designer and Web developer</h4>
                                <div class="hr-left"></div>
                                
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </li>
                        <li id="personal-info">
                            <div class="timeline-badge primary"></div>
                            <div class="timeline-panel">
                                <h1>Personal Info</h1>
                                <div class="hr-left"></div>

                                <div class="btn-group">
                                    <button type="button" disabled class="btn btn-primary">Name</button>
                                    <button type="button" disabled class="btn btn-default">{{ name }}</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" disabled class="btn btn-primary">date of birth</button>
                                    <button type="button" disabled class="btn btn-default">{{ birth }}</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" disabled class="btn btn-primary">email</button>
                                    <button type="button" disabled class="btn btn-default">{{ email }}</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" disabled class="btn btn-primary">Address</button>
                                    <button type="button" disabled class="btn btn-default">222 St. Newmon UK</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" disabled class="btn btn-primary">Phone</button>
                                    <button type="button" disabled class="btn btn-default">023-2314 1231</button>
                                </div>
                                <div class="btn-group">
                                    <button type="button" disabled class="btn btn-primary">Website</button>
                                    <button type="button" disabled class="btn btn-default">www.wrapbootstrap.com</button>
                                </div>
                            </div>
                        </li>
                        <!-- end:profile -->

                        <!-- start:work -->
                        <!-- <li id="id&#45;work"> -->
                        <!--     <div class="timeline&#45;badge default"><i class="fa fa&#45;briefcase"></i></div> -->
                        <!--     <h1 class="timeline&#45;head">WORK</h1> -->
                        <!-- </li> -->
                        <!-- <li> -->
                        <!--     <div class="timeline&#45;badge danger"></div> -->
                        <!--     <div class="timeline&#45;panel"> -->
                        <!--         <div class="timeline&#45;body"> -->
                        <!--             <ul class="thumbs"> -->
                        <!--                 <li><a href="#thumb1" class="thumbnail" style="background&#45;image: url('img/content/thumbnail.jpg')"> -->
                        <!--                     <h4>Design Room</h4><span class="description">Get More desain</span></a> -->
                        <!--                 </li> -->
                        <!--                 <li> -->
                        <!--                     <a href="#thumb2" class="thumbnail" style="background&#45;image: url('img/content/thumbnail1.jpg')"><h4>Design Kitchen</h4><span class="description">Beautiful design</span></a> -->
                        <!--                 </li> -->
                        <!--                 <li> -->
                        <!--                     <a href="#thumb3" class="thumbnail" style="background&#45;image: url('img/content/thumbnail3.jpg')"><h4>Arsitecture</h4><span class="description">Clean Design</span></a> -->
                        <!--                 </li> -->
                        <!--                 <li> -->
                        <!--                     <a href="#thumb4" class="thumbnail" style="background&#45;image: url('img/content/thumbnail4.jpg')"><h4>Design Room</h4><span class="description">Beautiful design</span></a> -->
                        <!--                 </li> -->
                        <!--                 <li> -->
                        <!--                     <a href="#thumb5" class="thumbnail" style="background&#45;image: url('img/content/thumbnail5.jpg')"><h4>Design Kitchen</h4><span class="description">Clean Design</span></a> -->
                        <!--                 </li> -->
                        <!--                 <li> -->
                        <!--                     <a href="#thumb6" class="thumbnail" style="background&#45;image: url('img/content/thumbnail6.jpg')"><h4>Arsitecture</h4><span class="description">Get More design</span></a> -->
                        <!--                 </li> -->
                        <!--             </ul> -->
                        <!--  -->
                        <!--             <div class="portfolio&#45;content"> -->
                        <!--                 <div id="thumb1"> -->
                        <!--                     <div class="media"><img src="img/content/thumbnail.jpg"/></div> -->
                        <!--                     <h1>Design Room</h1> -->
                        <!--                     <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p> -->
                        <!--                     <a href="#" class="btn btn&#45;primary">Learn More</a> -->
                        <!--                 </div> -->
                        <!--                 <div id="thumb2"> -->
                        <!--                     <div class="media"><img src="img/content/thumbnail2.jpg"/></div> -->
                        <!--                     <h1>Design Kitchen</h1> -->
                        <!--                     <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p> -->
                        <!--                     <a href="#" class="btn btn&#45;primary">Learn More</a> -->
                        <!--                 </div> -->
                        <!--                 <div id="thumb3"> -->
                        <!--                     <div class="media"><img src="img/content/thumbnail3.jpg"/></div> -->
                        <!--                     <h1>Arsitecture</h1> -->
                        <!--                     <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p> -->
                        <!--                     <a href="#" class="btn btn&#45;primary">Learn More</a> -->
                        <!--                 </div> -->
                        <!--                 <div id="thumb4"> -->
                        <!--                     <div class="media"><img src="img/content/thumbnail4.jpg"/></div> -->
                        <!--                     <h1>Design Room</h1> -->
                        <!--                     <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p> -->
                        <!--                     <a href="#" class="btn btn&#45;primary">Learn More</a> -->
                        <!--                 </div> -->
                        <!--                 <div id="thumb5"> -->
                        <!--                     <div class="media"><img src="img/content/thumbnail5.jpg"/></div> -->
                        <!--                     <h1>Design Kitchen</h1> -->
                        <!--                     <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p> -->
                        <!--                     <a href="#" class="btn btn&#45;primary">Learn More</a> -->
                        <!--                 </div> -->
                        <!--                 <div id="thumb6"> -->
                        <!--                     <div class="media"><img src="img/content/thumbnail6.jpg"/></div> -->
                        <!--                     <h1>Arsitecture</h1> -->
                        <!--                     <p>Ut condimentum eros bibendum metus lacinia, ac condimentum justo faucibus. Nam nec dui convallis, sodales sapien in, gravida justo. Pellentesque pulvinar massa a nisl iaculis, quis iaculis elit tincidunt.</p> -->
                        <!--                     <a href="#" class="btn btn&#45;primary">Learn More</a> -->
                        <!--                 </div> -->
                        <!--             </div> -->
                        <!--         </div> -->
                        <!--     </div> -->
                        <!-- </li> -->
                        <!-- <!&#45;&#45; end:work &#45;&#45;> -->

                        <!-- start:resume -->
                        <li id="id-resume">
                            <div class="timeline-badge default"><i class="fa fa-file"></i></div>
                            <h1 class="timeline-head">RESUME</h1>
                        </li>
                        <li id="resume">
                            <div class="timeline-badge warning"></div>
                            <div class="timeline-panel">
                                <h1>Work Experience</h1>
                                <div class="hr-left"></div>
                                <div class="work-experience">
                                    <h3>Web designer</h3>
                                    <small><i class="fa fa-calendar"></i> 2010 - 2014</small>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <hr>
                                <div class="work-experience">
                                    <h3>Graphic Designer</h3>
                                    <small><i class="fa fa-calendar"></i> 2010 - 2012</small>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <hr>
                                <div class="work-experience">
                                    <h3>Web Security</h3>
                                    <small><i class="fa fa-calendar"></i> 2008 - 2010</small>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </li>
                        <li id="resume">
                            <div class="timeline-badge warning"></div>
                            <div class="timeline-panel">
                                <h1>Education</h1>
                                <div class="hr-left"></div>
                                <div class="work-experience">
                                    <h3>Web Developer Collage</h3>
                                    <small><i class="fa fa-calendar"></i> 2010 - 2014</small>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident.</p>
                                </div>
                                <hr>
                                <div class="work-experience">
                                    <h3>Institude IT</h3>
                                    <small><i class="fa fa-calendar"></i> 2010 - 2012</small>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident.</p>
                                </div>
                                <hr>
                                <div class="work-experience">
                                    <h3>Web Design School</h3>
                                    <small><i class="fa fa-calendar"></i> 2008 - 2010</small>
                                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge warning"></div>
                            <div class="timeline-panel">
                                <h1>Skills</h1>
                                <div class="hr-left"></div>
                                <div class="skillbar clearfix " data-percent="90%">
                                    <div class="skillbar-title" style="background: #16a085;"><span>HTML5</span></div>
                                    <div class="skillbar-bar" style="background: #1abc9c;"></div>
                                    <div class="skill-bar-percent">90%</div>
                                </div> <!-- End Skill Bar -->

                                <div class="skillbar clearfix " data-percent="85%">
                                    <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
                                    <div class="skillbar-bar" style="background: #3498db;"></div>
                                    <div class="skill-bar-percent">85%</div>
                                </div> <!-- End Skill Bar -->

                                <div class="skillbar clearfix " data-percent="70%">
                                    <div class="skillbar-title" style="background: #2c3e50;"><span>jQuery</span></div>
                                    <div class="skillbar-bar" style="background: #2c3e50;"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div> <!-- End Skill Bar -->

                                <div class="skillbar clearfix " data-percent="50%">
                                    <div class="skillbar-title" style="background: #c0392b;"><span>PHP</span></div>
                                    <div class="skillbar-bar" style="background: #e74c3c;"></div>
                                    <div class="skill-bar-percent">50%</div>
                                </div> <!-- End Skill Bar -->

                                <div class="skillbar clearfix " data-percent="75%">
                                    <div class="skillbar-title" style="background: #2c3e50;"><span>Wordpress</span></div>
                                    <div class="skillbar-bar" style="background: #34495e;"></div>
                                    <div class="skill-bar-percent">75%</div>
                                </div> <!-- End Skill Bar -->

                                <div class="skillbar clearfix " data-percent="100%">
                                    <div class="skillbar-title" style="background: #27ae60;"><span>SEO</span></div>
                                    <div class="skillbar-bar" style="background: #2ecc71;"></div>
                                    <div class="skill-bar-percent">100%</div>
                                </div> <!-- End Skill Bar -->

                                <div class="skillbar clearfix " data-percent="70%">
                                    <div class="skillbar-title" style="background: #f39c12;"><span>Photoshop</span></div>
                                    <div class="skillbar-bar" style="background: #f1c40f;"></div>
                                    <div class="skill-bar-percent">70%</div>
                                </div> <!-- End Skill Bar -->
                            </div>
                        </li>
                        <!-- end:resume -->

                        <!-- start:blog -->
                        <li id="id-blog">
                            <div class="timeline-badge default"><i class="fa fa-comments"></i></div>
                            <h1 class="timeline-head">BLOG</h1>
                        </li>
                        <li>
                            <div class="timeline-badge primary"></div>
                            <div class="timeline-panel">
                                <div class="row" id="blog">
                                    <div class="col-md-7 col-sm-6 col-xs-12">
                                        <div class="blog-content">
                                            <h3><a href="#">Blog Post First</a></h3>
                                            <small><i class="fa fa-calendar"></i> <a href="#">16 Juni 2014</a> <i class="fa fa-user"></i> <a href="#">Admin</a> <i class="fa fa-comments"></i> <a href="#">20 Comments</a></small>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <img src="img/content/thumbnail.jpg" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge primary"></div>
                            <div class="timeline-panel">
                                <div class="row" id="blog">
                                    <div class="col-md-7 col-sm-6 col-xs-12">
                                        <div class="blog-content">
                                            <h3><a href="#">Blog Post Second</a></h3>
                                            <small><i class="fa fa-calendar"></i> <a href="#">16 Juni 2014</a> <i class="fa fa-user"></i> <a href="#">Admin</a> <i class="fa fa-comments"></i> <a href="#">20 Comments</a></small>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <img src="img/content/thumbnail3.jpg" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge primary"></div>
                            <div class="timeline-panel">
                                <div class="row" id="blog">
                                    <div class="col-md-7 col-sm-6 col-xs-12">
                                        <div class="blog-content">
                                            <h3><a href="#">Blog Post Thirds</a></h3>
                                            <small><i class="fa fa-calendar"></i> <a href="#">16 Juni 2014</a> <i class="fa fa-user"></i> <a href="#">Admin</a> <i class="fa fa-comments"></i> <a href="#">20 Comments</a></small>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-6 col-xs-12">
                                        <img src="img/content/thumbnail5.jpg" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- end:blog -->

                        <!-- start:contact -->
                        <li id="id-contact">
                            <div class="timeline-badge default"><i class="fa fa-envelope"></i></div>
                            <h1 class="timeline-head">CONTACT</h1>
                        </li>
                        <li>
                            <div class="timeline-badge primary"></div>
                            <div class="timeline-panel">
                                <h1>Contact Me</h1>
                                <div class="hr-left"></div>
                                <p>Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="form-control input-lg" placeholder="Name..."> 
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg" placeholder="E-mail...">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control input-lg" placeholder="Subject...">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <textarea class="form-control input-lg" rows="7" placeholder="Messages..."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-lg btn-primary btn-block">SEND</button>
                                    </div>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge primary"></div>
                            <div class="timeline-panel">
                                <h1>Contact Info</h1>
                                <div class="hr-left"></div>
                                <div class="row" id="contact">
                                    <div class="col-md-6">
                                        <address>
                                            <strong>Jonathan, Inc.</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            <abbr title="Phone">P:</abbr> (123) 456-7890
                                        </address>

                                        <address>
                                            <strong>JONATHAN DOE</strong><br>
                                            <a href="mailto:#">name@company.com</a>
                                        </address>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!-- end:contact -->
                    </ul>
                </div>
                <!-- end:main content -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
