{% extends "base.html" %}

{% block content %}
<section>
    <form class="form-signup" action="{% url "users:signup" %}" method="POST">
        <h2 class="form-signin-heading">회원 가입</h2>
        {% csrf_token %}
        <input class="form-control" type="email" name="username" placeholder="email" required>
        <input  class="form-control" type="password" name="password" placeholder="password" required>
        <input  class="form-control" type="text" name="lastname" placeholder="성" required>
        <input  class="form-control" type="text" name="firstname" placeholder="이름" required>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="signup">
    
    <ul>
        <li>
            <a href="{% url "social:begin" backend="facebook" %}">signup with facebook</a>
        </li>
    </ul>
        </from>
</section>
{% endblock %}
