{% if messages %}
    {% for message in messages %}
        <script type="text/javascript">
            $(function() {
                $.bootstrapGrowl("{{message}}", {
                  type: '{{message.tags}}', // (null, 'info', 'danger', 'success')
                  align: 'right', // ('left', 'right', or 'center')
                  delay: 2000, // Time while the message will be displayed. It's not equivalent to the *demo* timeOut!
                  allow_dismiss: true, // If true then will display a cross to close the popup.
                  stackup_spacing: 10 // spacing between consecutively stacked growls.
                });
            });
        </script>
  {% endfor %}
{% endif %}
