{% extends "base.html"%}
{% load pipeline %}
{% load staticfiles %}

{% block custom_stylesheet %}
    {% stylesheet "resume" %}
{% endblock %}
{% block content %}
<!-- start:main -->
<form action="{% url "jobs:resume" %}" method="POST" id="resume-form" data-toggle="validator" role="form" enctype="multipart/form-data">
    <div class="container" id="main" style="padding-top: 50px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div id="sidebar">
                    <div class="sosmed">
                        <div class="text-center">
                            {# <a href="#"><i class="fa fa-facebook fa-2x" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a> #}
                            <a href="#"><i class="fa fa-github fa-2x" data-toggle="tooltip" data-placement="top" title="Github"></i></a>
                            <input type="text" class="form-control" name="github_profile" placeholder="Github주소를 써주세요." required>
                        </div>
                    </div>
                    <div class="user">
                        <div class="text-center">
                            <input type="file" accept="image/*" id="imageFile" name="user_image">
                            <img id="profile-image" class="img-circle" src="{% static "resume_img/user.png"%}" width="236" height="306" required>
                        </div>
                        <div class="user-head">
                            <h1>
                                <input type="text" name="name" class="form-control text-center" value="{{ name }}">
                            </h1>
                            <div class="hr-center"></div>
                            <h5>
                                <input type-"text" name="detail_job" class="form-control text-center" placeholder="WebDeveloper" required>
                            </h5>
                        </div>
                    </div>
                    <div class="link-me">
                        <div class="text-center">
                            <a href="#"><i class="fa fa-download fa-2x" data-toggle="tooltip" data-placement="top" title="Download My CV"></i></a>
                            <a href="#"><i class="fa fa-flag fa-2x" data-toggle="tooltip" data-placement="top" title="Get in Touch"></i></a>
                            <a href="#"><i class="fa fa-money fa-2x" data-toggle="tooltip" data-placement="top" title="Hire Me"></i></a>
                        </div>
                        <div class="hr-center"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div id="content">
                    <!-- start:navbar -->
                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="page-scroll"><a href="#id-profile">// 개인정보</a></li>
                                <li class="page-scroll"><a href="#id-resume">// 이력정보</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="page-scroll"><a href="#id-profile">
                                    <i class="fa fa-angle-double-down"></i>
                                </a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- end:navbar -->

                    <!-- start:main content -->
                    <div class="main-content">
                        <ul class="timeline">
                            <!-- start:profile -->
                            <li id="id-profile">
                                <div class="timeline-badge default"><i class="fa fa-user"></i></div>
                                <h1 class="timeline-head">PROFILE</h1>
                            </li>
                            <li id="profile">
                                <div class="timeline-badge primary"></div>
                                <div class="timeline-panel">
                                    <h1>
                                        <input type="text" name="timeline_name" class="form-control col-md-6" placeholder="Hello I am {{ name }}" required>
                                    </h1>
                                    <h4>
                                        <input type="text" name="timeline_job" class="form-control" placeholder="Web Designer and Web developer" required>
                                    </h4>
                                    <div class="hr-left"></div>
                                    <p>
                                        <textarea class="form_control" name="timeline_description" rows="4" cols="95" placeholder="본인을 소개하는 글을 적어주세요."></textarea requried>
                                    </p>
                                </div>
                            </li>
                            <li id="personal-info">
                                <div class="timeline-badge primary"></div>
                                <div class="timeline-panel">
                                    <h1>Personal Info</h1>
                                    <div class="hr-left"></div>

                                    <div class="btn-group col-md-6">
                                        <button type="button" disabled class="btn btn-primary">이름</button>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="profile_name" placeholder="{{ name }}" value="{{ name }}" required>
                                        </div>    
                                    </div>
                                    <div class="btn-group col-md-6">
                                        <button type="button" disabled class="btn btn-primary">생일</button>
                                        <div class="col-md-8">
                                            <input type="text" id="datepicker" class="form-control" name="profile_birth" placeholder="1900-01-01" required>
                                        </div>    
                                    </div>
                                    <div class="btn-group col-md-6">
                                        <button type="button" disabled class="btn btn-primary">email</button>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="profile_email" placeholder="{{ email }}" value="{{ email }}" data-error="Email 형식이 맞지 않습니다.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>    
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" disabled class="btn btn-primary">주소</button>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="profile_address" placeholder="주소">
                                        </div>    
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" disabled class="btn btn-primary">Phone</button>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="profile_phone" placeholder="010-1234-5678" required>
                                        </div>    
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" disabled class="btn btn-primary">Blog</button>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control" name="profile_blog" placeholder="http://blog.url">
                                        </div>    
                                    </div>
                                </div>
                            </li>

                            <!-- start:resume -->
                            <li id="id-resume">
                                <div class="timeline-badge default"><i class="fa fa-file"></i></div>
                                <h1 class="timeline-head">이력정보</h1>
                            </li>
                            <li id="resume">
                                <div class="timeline-badge warning"></div>
                                <div class="timeline-panel" id="experience-timeline">
                                    <h1>경력사항</h1>
                                    <div class="hr-left"></div>
                                    <div class="work-experience">
                                        <div class="thumbnail overlay">
                                            <h3>Example</h3>
                                            <small><i class="fa fa-calendar"></i> 2010 - 2014</small>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <div class="caption caption-up">
                                                <h3>경력</h3>
                                                <a class="btn btn-primary" id="add-experience" role="button">Add</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="resume">
                                <div class="timeline-badge warning"></div>
                                <div class="timeline-panel" id="education-timeline">
                                    <h1>학력</h1>
                                    <div class="hr-left"></div>
                                    <div class="work-experience">
                                        <div class="thumbnail overlay">
                                            <h3>Example</h3>
                                            <small><i class="fa fa-calendar"></i> 2010 - 2014</small>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <div class="caption caption-up">
                                                <h3>학력</h3>
                                                <a class="btn btn-primary" id="add-education" role="button">Add</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge warning"></div>
                                <div class="timeline-panel">
                                    <h1>Skills</h1>
                                    <div class="hr-left"></div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="panel panel-default">
                                            <ul class="list-group" id="skill-list">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end:resume -->
                        </ul>
                    </div>
                    <!-- end:main content -->
                    <input type="submit" class="pull-right btn btn-primary" value="Save">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block custom_javascript %}
    {% javascript "resume" %}
{% endblock %}
