{% extends "base.html"%}
{% load pipeline %}
{% load staticfiles %}

{% block custom_stylesheet %}
    {% stylesheet "resume" %}
{% endblock %}
{% block content %}
<!-- start:main -->
<form action="{% url "jobs:resume" %}" method="POST" id="mypage" data-toggle="validator" role="form" enctype="multipart/form-data">
    <div class="container" id="main" style="padding-top: 50px;">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <div id="sidebar">
                    <div class="sosmed">
                        <div class="text-center">
                            {# <a href="#"><i class="fa fa-facebook fa-2x" data-toggle="tooltip" data-placement="top" title="Facebook"></i></a> #}
                            <a href="#"><i class="fa fa-github fa-2x" data-toggle="tooltip" data-placement="top" title="Github"></i></a>
                            <input type="text" class="form-control" name="github_profile" value="{{ user.github_profile }}" required>
                        </div>
                    </div>
                    <div class="user">
                        <div class="text-center">
                            <img id="profile-image" class="img-circle" src="{{ user.user_image.url}}" width="236" height="306" required>
                        </div>
                        <div class="user-head">
                            <h1>{{ user.name }}</h1>
                            <div class="hr-center"></div>
                            <h5>
                                {{ user.detail_job}}
                            </h5>
                        </div>
                    </div>
                    <div class="link-me">
                        <div class="text-center">
                            <a href="#"><i class="fa fa-download fa-2x" data-toggle="tooltip" data-placement="top" title="Download My CV"></i></a>
                            <a href="#"><i class="fa fa-flag fa-2x" data-toggle="tooltip" data-placement="top" title="Get in Touch"></i></a>
                            <a href="#"><i class="fa fa-money fa-2x" data-toggle="tooltip" data-placement="top" title="Hire Me"></i></a>
                        </div>
                        <div class="hr-center"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div id="content">
                    <!-- start:navbar -->
                    <nav class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="navbar-header page-scroll">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                <li class="page-scroll"><a href="#id-profile">// 개인정보</a></li>
                                <li class="page-scroll"><a href="#id-resume">// 이력정보</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li class="page-scroll"><a href="#id-profile">
                                    <i class="fa fa-angle-double-down"></i>
                                </a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- end:navbar -->

                    <!-- start:main content -->
                    <div class="main-content">
                        <ul class="timeline">
                            <!-- start:profile -->
                            <li id="id-profile">
                                <div class="timeline-badge default"><i class="fa fa-user"></i></div>
                                <h1 class="timeline-head">PROFILE</h1>
                            </li>
                            <li id="profile">
                                <div class="timeline-badge primary"></div>
                                <div class="timeline-panel">
                                    <h1>
                                        {{ user.timeline_name}}
                                    </h1>
                                    <h4>
                                        {{ user.timeline_job}}
                                    </h4>
                                    <div class="hr-left"></div>
                                    <p>
                                        {{ user.timeline_description}}
                                    </p>
                                </div>
                            </li>
                            <li id="personal-info">
                                <div class="timeline-badge primary"></div>
                                <div class="timeline-panel">
                                    <h1>Personal Info</h1>
                                    <div class="hr-left"></div>

                                    <div class="btn-group col-md-6">
                                        <button type="button" disabled class="btn btn-primary">이름</button>
                                        <button type="button" disabled class="btn btn-default">{{ user.profile_name }}</button>
                                    </div>
                                    <div class="btn-group col-md-6">
                                        <button type="button" disabled class="btn btn-primary">생일</button>
                                        <button type="button" disabled class="btn btn-default">{{ user.profile_birth }}</button>
                                    </div>
                                    <div class="btn-group col-md-6">
                                        <button type="button" disabled class="btn btn-primary">email</button>
                                        <button type="button" disabled class="btn btn-default">{{ user.profile_email }}</button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" disabled class="btn btn-primary">주소</button>
                                        <button type="button" disabled class="btn btn-default">{{ user.profile_address }}</button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" disabled class="btn btn-primary">Phone</button>
                                        <button type="button" disabled class="btn btn-default">asdasdasdasdasdasdasdas</button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" disabled class="btn btn-primary">Blog</button>
                                        <button type="button" disabled class="btn btn-default">{{ user.profile_blog }}</button>
                                    </div>
                                </div>
                            </li>

                            <!-- start:resume -->
                            <li id="id-resume">
                                <div class="timeline-badge default"><i class="fa fa-file"></i></div>
                                <h1 class="timeline-head">이력정보</h1>
                            </li>
                            <li id="resume">
                                <div class="timeline-badge warning"></div>
                                <div class="timeline-panel" id="experience-timeline">
                                    <h1>경력사항</h1>
                                    <div class="hr-left"></div>
                                    <div class="work-experience">
                                        <h3>Web designer</h3>
                                        <small><i class="fa fa-calendar"></i> 2010 - 2014</small>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </li>
                            <li id="resume">
                                <div class="timeline-badge warning"></div>
                                <div class="timeline-panel" id="education-timeline">
                                    <h1>학력</h1>
                                    <div class="hr-left"></div>
                                    <div class="work-experience">
                                        <h3>Web designer</h3>
                                        <small><i class="fa fa-calendar"></i> 2010 - 2014</small>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="timeline-badge warning"></div>
                                <div class="timeline-panel">
                                    <h1>Skills</h1>
                                    <div class="hr-left"></div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="panel panel-default">
                                            <ul class="list-group" id="skill-list">
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end:resume -->
                        </ul>
                    </div>
                    <!-- end:main content -->
                    {# <input type="submit" class="pull-right btn btn-primary" value="Save"> #}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block custom_javascript %}
    {% javascript "resume" %}
{% endblock %}
