/* Main CSS */
body {
    min-height: 2000px;
    padding-top: 70px;
}


/* Auth CSS */
.login-background {
    background-color: #fafafa;
}
.login-header {
    text-align: center;
}
.login-distinguish {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 10px 40px 18px;
    text-align: center;
}
.btn-signup {
    margin-top: 30px;
    text-align: center;
}

/* Set Margin */
.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

/* Set Text */
.text-center{ text-align:center; }
